/*
Template Design V 2015
Author: Michael Edelstone
edelstone@txstate.edu or michael.edelstone@gmail.com
*/

/* (Default) */

html {font-size: 100%; position: relative; min-height: 100%;}
body {height: auto; min-height: 100%;}
input {-webkit-appearance: none !important;}
h1 {font-size: 2rem; line-height: 42px; padding: 1rem;}
h2 {margin: .5rem auto; color: #363534;}
.column {padding-left: 1rem; padding-right: 1rem;}
.main_section {padding-bottom: 1rem;}
.float_left {float: left;}
.float_right {float: right;}
.header, .header_2, .header_3, .header_4 {min-height: 70px; padding: 0;}
.dept_name, .title {position: relative;}
.hide, .bg_overlay, .bg_video, .bg_image, .bg_image_2,.bg_image_3, .messaging, .nav, .gallery_link, .top_nav, .super_user, .txst_search {display: none;}
.nav a {padding: .4rem .5rem;}
.menu_title {margin: auto 8px; text-transform: uppercase; vertical-align: middle;}
.footer_2:after {background: url('../images/old-main-footer-2.jpg');}
.side_nav {margin: -1rem -1rem 1.5rem -1rem;}
.side_nav_list a, .side_nav_header {margin-bottom: 0; padding: 0.5rem 0.7rem; font-size: 95%;}
.banner {padding: 0 1rem; width: 100% !important; height: 60px;}
.banner_logo {width: 200px;}
.banner_logo img {max-width: 100%; margin-top: 11px;}
.breadcrumbs {text-align: left; font-weight: 400; font-size: 11px; margin: -5px auto 15px auto; line-height: 16px;}
.back_to_top a, .back_to_top a:hover {bottom: -6px; padding-bottom: 10px;}
.list_header {margin-bottom: .8rem; font-size: .9rem;}
.txst_address p {margin-top: 20px;}
.mobile_nav {display: block;}
.footer_column_1 {margin-top: 3rem; text-align: left;}
.foot_linkage {text-align: left; margin-bottom: 2rem;}
.apply_now {display: block; text-align: center; margin: 1rem 0 !important; background: #6A5638; border: none; max-width: 100%; padding: 1rem 0 !important; font-size: 1rem;}
.contact_us {font-size: 1.5rem; margin: .5rem auto 1.2rem auto;}
.office_contact_2, .foot_linkage, .office_contact_2 p {font-size: .8rem; line-height: 1.5rem;}
.page_content {font-size: 100%;}

/* (Handheld) */

@media handheld {
.bg_video {display: none !important;}
}
@media handheld and (min-width: 64rem) {
.bg_image, .bg_image_2, .bg_image_3 {display: block !important;}
}

/* (768px and up) */

@media (min-width: 48rem) {
html {font-size: 110%;}
.column {float: left;}
.main_section {padding-bottom: 0;}
.column.full {width: 100%;}
.column.two-thirds {width: 66.7%;}
.column.half {width: 50%;}
.column.third {width: 33.3%;}
.column.fourth {width: 25%;}
.column.flow-opposite {float: right;}
.header {min-height: 350px; padding: 0;}
.header_2 {min-height: 180px; padding: 0;}
.header_3 {min-height: 280px; padding: 0;}
.header_4 {min-height: 120px; padding: 0;}
h1 {font-size: 2.2rem; line-height: 60px; padding: 15px 15px 5px 18px;}
h2 {margin-top: 1rem;}
.dept_name, .title {position: absolute;}
.nav {margin: auto; display: block;}
.nav a {width: auto; border: none; padding: .4rem .5rem; margin: auto 0; text-align: left; min-width: 0; font-size: 70%;}
.primary_nav a, .secondary_nav a {font-size: 75%;}
.bg_overlay, .bg_image, .bg_image_2, .bg_image_3 {display: block;}
.messaging {display: block;}
.messaging_title {padding: 4.5rem 1rem 2rem 1rem; font-size: 4.5rem;}
.side_nav {margin: auto; margin-top: 1.3rem;}
.side_nav_list a, .side_nav_header {margin-bottom: 8px; padding: 0.3rem 0.7rem; font-size: 85%;}
.breadcrumbs {text-align: right; font-size: 12px; margin: 0 auto;}
.hide, .top_nav, .super_user, .txst_search {display: block;}
.hamburger, .mobile_nav {display: none;}
.footer_2:after {background: url('../images/panorama.jpg');}
.nav a {padding: .4rem .5rem; margin: auto 0; text-align: left; min-width: 0; font-size: 70%;}
.banner {height: 75px;}
.banner_logo {width: 230px;}
.banner_logo img {max-width: 100%; margin-top: 16px;}
.footer_column_1 {margin-top: auto; text-align: left;}
.dept_info {margin-left: 1.2rem; padding-left: 0.6rem;}
.dept_info i {display: initial;}
.foot_linkage {text-align: right; margin-bottom: 0.7rem;;}
.contact_us {font-size: 1.2rem; margin: .5rem auto 1rem auto;}
.office_contact_2, .foot_linkage {font-size: .65rem; line-height: 1.4rem;}
.office_contact_2 p {font-size: .65rem; line-height: 1.2rem;}
.apply_now {display: inline; max-width: 200px; float: right; background: transparent; padding: 0.7rem 2.4rem !important; border: 2px solid #FFFFFF; font-size: .75rem; background: #111111; background: rgba(0, 0, 0, 0.3);}
.page_content {font-size: 95%;}
}

/* (1024px and up) */

@media (min-width: 64rem) {
html {font-size: 120%;}
.header, .header_3 {min-height: 320px;}
.bg_image {display: none;}
.bg_video {display: inline-block; margin-top: -125px;}
.align_1, .align_2, .align_3 {padding: 0 1rem;}
.messaging_title {padding: 5.4rem 1rem 2.2rem 1rem; font-size: 5rem;}
.side_nav {margin-left: 0;}
.nav a {padding: .4rem .6rem;}
.primary_nav a, .seconday_nav a {font-size: 80%;}
}

/* (1280px and up) */

@media (min-width: 80rem) {
}

/* (1440px and up) */

@media (min-width: 90rem) {
.header, .header_3 {min-height: 360px;}
}

/* General */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
body {font-family: 'Univers W01'; font-weight: 100; text-rendering: optimizeLegibility;}
a, a:link, a:visited {color: #501214; text-decoration: none;}
a:hover, a:active {text-decoration: none;}
.top_services a {transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out;}
/* a, li, .std_transition, .fast_transition, a:after, a:before {transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out;} */
.no_transition {transition: none; -webkit-transition: none; -moz-transition: none; -o-transition: none;}
hr {margin-bottom: 2em;}
img {max-width: 100%;}
h1, .office_name {font-family: 'Adobe Garamond W01'; font-weight: 400; letter-spacing: 1px;}
h1 a {color: #FFFFFF !important;}
h2 {font-size: 1.6rem; text-transform: uppercase; font-weight: 700;}
.tight_header {margin-bottom: 0;}
p, ul, ol, table {line-height: 1.5rem;}
.medium_em {font-weight: 400;}
.bold_em {font-weight: 700;}
.slant_em {font-style: italic;}
.caps {text-transform: uppercase;}
.kern_1 {margin-right: -2px;}
/* img, img:hover {-moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translate3d(0px,0px,0px);} */

/* Banner */

.banner {background: #D1C7B7; background: -moz-linear-gradient(top, #D1C7B7 0%, #BBAB92 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #D1C7B7), color-stop(100%, #BBAB92)); background: -webkit-linear-gradient(top, #D1C7B7 0%, #BBAB92 100%); background: -o-linear-gradient(top, #D1C7B7 0%, #BBAB92 100%); background: -ms-linear-gradient(top, #D1C7B7 0%, #BBAB92 100%); background: linear-gradient(to bottom, #D1C7B7 0%, #BBAB92 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1C7B7', endColorstr='#BBAB92', GradientType=0 ); border-bottom: 3px solid #6A5638;}
.banner_content {max-width: 1000px; margin: auto;}
.banner_logo {float: left;}
.txst_search {float: right; margin-top: 19px; position: relative;}
.search_bar .search {position: absolute; right: 0; width: 280px; height: 32px; background: #FFFFFF; border: 0px solid #6A5638; font-size: .75rem; padding-left: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.search_bar .search::-webkit-input-placeholder {color: #777777;}
.search_bar .search:-moz-placeholder {color: #777777;}
.search_bar .search::-moz-placeholder {color: #777777;}
.search_bar .search:-ms-input-placeholder {color: #777777;}
.search_bar .icon {-webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border: none; background: #6A5638; height: 34px; width: 40px; color: #FFFFFF; font-size: .9rem; position: absolute; right: 0;}
.search_bar .icon:hover {background: #79674C;}
.super_user {background: #6A5638;}
.super_list {font-size: 0; margin: 0 auto; padding: 0; max-width: 1000px; text-align: right;}
.super_list li {display: inline-block; font-size: 1rem;}
.super_list a {border-right: 1px solid #79674C; color: #FFFFFF; text-transform: uppercase; font-size: 55%; font-weight: 400; letter-spacing: 1px; display: block; padding: 4px 12px 3px 12px;}
.super_list a:hover {background: #79674C;}

/* Header */

.bg_container {background: #501214; position: absolute; z-index: 0; width: 100%; height: 100%;}
.bg_image {opacity: 0; position: absolute; margin-top: -50px; height: 150%; width: 100%; background: #501214 url("../images/poster_shepard.jpg") no-repeat 50% 0; background-size: cover;}
.bg_image_2 {opacity: 0; position: absolute; margin-top: -50px;height: 150%; width: 100%; background: #501214 url("../images/work_5.jpg") no-repeat 50% 55%; background-size: cover;}
.bg_image_3 {opacity: 0; position: absolute; margin-top: -70px; height: 150%; width: 100%; background: #501214 url("../images/arch.jpg") no-repeat 50% 67%; background-size: cover;}
.bg_image_4 {opacity: 0; position: absolute; margin-top: -50px; height: 150%; width: 100%; background: #501214 url("../images/old-main-night.jpg") no-repeat 50% 40%; background-size: cover;}
.bg_video_container {position: absolute; height: 100%; width: 100%;}
.bg_video {opacity: 0; position: absolute; left: 0; top: 0; min-height: 100%; width: 100%; height: auto; z-index: -1;}
.overlay {position: absolute; height: 100%; width: 100%;}
.bg_overlay {background: #501214; position: absolute; width: 100%; height: 100%; opacity: 0;}
.messaging {font-weight: 200; color: #FFFFFF; position: relative; max-width: 1000px; min-height: 100%; text-align: center; text-transform: uppercase; margin: auto;}
.messaging_title {opacity: 0; margin: 0; position: relative; top: .5rem; letter-spacing: 10px;}
.messaging_btn {font-size: 2rem; opacity: 0;}
.messaging_btn a {color: #FFFFFF; letter-spacing: 5px; border: 2px solid #FFFFFF; padding: 13px 10px 10px 20px;}
.messaging_btn a:hover {background: #6A5638;}
.play {font-size: 65%; margin-left: 7px; vertical-align: top;} 
.header, .header_2, .header_3, .header_4 {position: relative; overflow: hidden !important; background: #501214;}
.title {min-height: 70px; width: 100%; bottom: 0; margin: auto;}
.dept_name {left: 0; bottom: 0; right: 0;}
h1 {max-width: 1000px; margin: auto; color: #FFFFFF; min-height: 60px; background: #501214; background: rgba(80, 18, 20, 1);}

/* Top Navigation */

/* Mobile */

.hamburger {float: right;}
.hamburger a {color: #222; font-size: 22px; position: relative; padding: 10px 15px; display: block; top: 3px; right: -15px;}
.slideout-menu {position: fixed; left: auto; top: 0; bottom: 0; right: 0; z-index: 0; width: 280px; overflow-y: auto; -webkit-overflow-scrolling: touch; display: none;}
.slideout-panel {position:relative; z-index: 1;}
.slideout-open, .slideout-open body, .slideout-open .slideout-panel {overflow: hidden;}
.slideout-open .slideout-menu {display: block;}
.mobile_nav {background: #363534;}
.mobile_nav ul {list-style: none; padding: 0; margin: 0;}
.mobile_nav_container {padding: 1rem; letter-spacing: 1px;}
.txst_mobile_search {height: 50px; width: 280px;}
.search.mobile_search {width: 100%; border-radius: 0; border: 8px solid #262524; background: #4A4948; box-sizing: border-box; height: 50px;}
.search_bar.mobile_search_bar {width: 100%; height: 50px;}
.icon.mobile_icon, .icon.mobile_icon:hover  {border-radius: 0; background: #262524; color: #E3E3E3; height: 50px; font-size: 1rem; padding-right: 10px;}
.search_bar .search.mobile_search::-webkit-input-placeholder {color: #E3E3E3;}
.search_bar .search.mobile_search:-moz-placeholder {color: #E3E3E3;}
.search_bar .search.mobile_search::-moz-placeholder {color: #E3E3E3;}
.search_bar .search.mobile_search:-ms-input-placeholder {color: #E3E3E3;}
.contact_us.mobile_dept a {color: #E3E3E3; line-height: 1.8rem;}
.mobile_primary_nav a {text-transform: uppercase; font-weight: 400; color: #E3E3E3; margin-bottom: 5px; display: block; font-size: 85%;}
.mobile_primary_nav li {margin-bottom: 20px;}
.mobile_secondary_nav a {text-transform: none; font-weight: 100; margin-bottom: 0; margin-bottom: 5px; font-size: 75%;}
.mobile_secondary_nav li {margin-bottom: 0;}
.mobile_secondary_nav {background-color: #4A4948; padding: .5rem .5rem .2rem .5rem !important;}
.mobile_super_user {background-color: #262524;}
.super_list.mobile_super_list {text-align: left; padding: 1rem;}
.mobile_super_list li {display: block; margin-bottom: 10px;}
.mobile_super_list a {padding: 0; font-size: 65%; border: none;}
.mobile_super_list a:hover {background: transparent;}

/* Primary */

.top_nav {background: #E8E3DB; background: -moz-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #E8E3DB), color-stop(100%, #D1C7B7)); background: -webkit-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: -o-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: -ms-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: linear-gradient(to bottom, #E8E3DB 0%, #D1C7B7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E3DB', endColorstr='#D1C7B7', GradientType=0 ); border-bottom: 1px solid #BBAB92;}
.nav {font-size: .9rem; max-width: 1000px; background: #E8E3DB; background: -moz-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #E8E3DB), color-stop(100%, #D1C7B7)); background: -webkit-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: -o-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: -ms-linear-gradient(top, #E8E3DB 0%, #D1C7B7 100%); background: linear-gradient(to bottom, #E8E3DB 0%, #D1C7B7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E3DB', endColorstr='#D1C7B7', GradientType=0 );}
.top_nav.scroll-to-fixed-fixed {border-bottom: 2px solid #6A5638;}
.primary_nav {margin: 0; padding: 0; display: flex;}
.primary_nav li {position: relative; list-style-type: none; border-left: 1px solid #BBAB92; /* border-right: 1px solid #DDD5C9; border-left: 1px solid #F4F1ED; */}
.primary_nav a, .secondary_nav a {color: #222222; display: flex; font-weight: 400;}
.primary_nav li:first-child {border-left: none;}
.primary_nav li:hover {color: #FFFFFF; background: #6A5638;}
.primary_nav li:hover a {color: #FFFFFF;}
.primary_nav .fa-caret-down {color: #222222; position: relative; left: 3px; font-size: 80%; display: none;}
.primary_nav a:hover .fa-caret-down {color: #6A5638;}
.selected-top {-moz-box-shadow: inset 0 -4px 0 0 #6A5638; -webkit-box-shadow: inset 0 -4px 0 0 #6A5638; box-shadow: inset 0 -4px 0 0 #6A5638;}

/* Secondary */

.primary_nav li:hover .secondary_nav {display: block; opacity: 1; visibility: visible;}
.scroll-to-fixed-fixed .secondary_nav {border: 2px solid #6A5638;}
.scroll-to-fixed-fixed .secondary_nav a {padding-left: .45rem;}
.secondary_nav {border: 1px solid #BBAB92; padding: 0; position: absolute; top: 100%; left: 0; width: 100%; min-width: 11rem; display: none; opacity: 0; visibility: hidden; background: #E8E3DB;}
.secondary_nav li {border: none;}
.secondary_nav a {padding: .4rem .5rem; color: #222222 !important; line-height: 1.3rem; border-bottom: 1px solid #DDD5C9; border-top: 1px solid #F4F1ED;}
.secondary_nav li:first-child a {border-top: none;}
.secondary_nav li:last-child a {border-bottom: none;}
.secondary_nav li:hover {background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.secondary_nav li:hover a {color: #222222;}
.secondary_nav a:hover {background: #D1C7B7; text-decoration: underline;}

/* Side Navigation */

.side_nav_list {list-style-type: none; padding-left: 0; margin: 0;}
.side_nav_header {color: #FFFFFF; background-color: #6A5638; margin-top: 0; font-weight: 100; line-height: 1.5rem;}
.side_nav_list a {display: block;}
.side_nav_list a {color: #222222; background-color: #F0F0F0; border-bottom: 1px solid #E0E0E0;}
.side_nav_list a:hover {color: #6A5638;}
.side_nav_list a:before, .selected_side:before {font-family: FontAwesome; content: "\f105"; color: #6A5638; opacity: 0; margin-left: -0.7rem; margin-top: .05rem; float: left;}
.side_nav_list a:hover:before, .selected_side:before {opacity: 1 !important;}
.selected_side {color: #6A5638 !important;}

/* Body */

.page_content {max-width: 1000px; margin: auto; padding: 1rem 0 1.5rem 0; overflow: hidden; min-height: 32rem; background-color: #FFFFFF;}
.page_content .row {margin-bottom: 1.5rem;}
.page_content a {padding: 1px 3px; margin: -1px -3px; color: #015E8F; text-decoration: underline;}
.page_content a:hover {background: #E8E3DB;}
.breadcrumbs a {color: #015E8F; text-decoration: none;}
.breadcrumbs a:hover {text-decoration: underline; background: transparent;}
.breadcrumbs .separator {margin: auto 5px auto 7px;}
.top_services {margin: 0; font-weight: 100; text-transform: uppercase; line-height: 1.5rem;}
.top_services div {margin: 1.2rem 0;}
.top_services a {margin: auto; text-decoration: none; color: #FFFFFF; padding: 1.4rem .75rem 1.2rem .75rem; background: #6A5638; display: block; text-align: center; border-radius: 3px; box-shadow: 0 4px #55452C; font-size: 90%;}
.top_services a:hover {background: #7A6742; background: rgba(107, 86, 49, 0.85);}
.service_1 {background: url('../images/pencils.jpg') no-repeat; background-size: cover; border-radius: 3px;}
.service_2 {background: url('../images/camera.jpg') no-repeat; background-size: cover; border-radius: 3px;}
.service_3 {background: url('../images/bobcat.jpg') no-repeat; background-size: cover; background-position: 100% 60%; border-radius: 3px;}
.service_4 {background: none; background-size: cover; border-radius: 3px;}
.display_icon {font-size: 5rem; color: #501214;}
.display_icon a {color: #501214; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
.display_icon a:hover {background-color: transparent; opacity: 0.8;}
.infographic p {max-width: 250px; text-align: center; margin: 1rem auto;}

/* Footer */

.footer_2 {background: #2E2A26; background: rgba(22, 17, 13, 0.8); width: 100%; color: #DDDDDD; position: relative;}
.footer_2:after {background-repeat: no-repeat; background-size: cover; opacity: 0.8; top: 0; bottom: 0; left: 0; right: 0; position: absolute; z-index: -1; content: ""; background-position: 80% 20%;}
.footer_content {max-width: 1000px; margin: auto; text-align: left; padding: 1.75rem 0 2rem 0; letter-spacing: 1px; position: relative; overflow: hidden;}
.footer_content a {text-decoration: underline; color: #DDDDDD;}
.footer_content a:hover {text-decoration: underline; color: #FFFFFF;}
.dept_info {position: relative; line-height: 1.2rem; margin-left: 0; padding-left: 0;}
.office_contact_2 i {display: none; position: absolute; left: -16px; top: 0px; font-size: 24px;}
.dept_email i {font-size: 18px; top: 4px; left: -20px;}
.footer_2 a {padding: 5px; margin: -5px;}
.footer_2 a:hover, ul.font_icons a:hover {background: #111111; background: rgba(0, 0, 0, 0.4);}
a.image_link {opacity: .8; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out}
a.image_link:hover {background: transparent; opacity: 1;}
.txst_logo {max-width: 250px; margin: 4rem auto;}
.txst_logo img {width: 100%; height: auto;}
.contact_us {font-family: 'Adobe Garamond W01'; font-weight: 500; line-height: 1.5rem;}
.foot_linkage {padding: 0; list-style: none;}
.apply_now {text-decoration: none !important; text-transform: uppercase; font-weight: 400; border-radius: 3px; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
.apply_now:hover {background-color: #6A5638 !important;}
.footer_btt {height: 0;}
.btt {text-align: center; display: block; color: #ccc !important; text-transform: uppercase; font-weight: 400; font-size: .7rem; padding: 0 !important; margin: 0 auto !important; text-decoration: none !important; position: relative; top: -15px; transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; max-width: 5rem;}
.btt:hover {color: #fff !important; background: transparent !important;}
.btt i {font-size: 130%;}